@inject ProductsSiteContext _context
<div class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="/Index">
                    <img class="logo" src="~/pics/emblem.png">
                </a>
            </div>
            <div class="col-md-5">
                <div class="header-search">
                    <partial name="Partials/_FindFormPartial"/>
                </div>
            </div>
            <div class="header-btn col-md-5 d-flex">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <div class="container justify-content-between p-0">
                        <div class="compare-btn">
                            <a asp-area="Identity" asp-page="#">
                                <div class="header-icons">
                                    <i class="bi bi-bar-chart"></i>
                                </div>
                                <span>Сравнить</span>
                            </a>
                        </div>
                        <div class="wishlist-btn">
                            <a asp-area="Identity" asp-page="Account/Login">
                                <div class="header-icons">
                                    <i class="bi bi-heart"></i>
                                </div>
                                <span>Избранное</span>
                            </a>
                        </div>
                        <div class="cart-btn">
                            <a asp-area="Identity" asp-page="#">
                                <div class="header-icons">
                                    <i class="bi bi-cart3"></i>
                                </div>
                                <span>Корзина</span>
                            </a>
                        </div>
                        <div class="notif-btn text-white text-lg">
                            <a asp-area="Identity" asp-page="#">
                                <div>
                                    <i class="bi bi-bell"></i>
                                </div>
                                <span>Уведомления</span>
                            </a>
                        </div>
                    </div>
                    <div class="logout-btn">
                        <a asp-area="Identity" asp-page="/Account/Logout">
                            <div>
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <span>Выход</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="container justify-content-between p-0">
                        <div class="compare-btn">
                            <a asp-area="Identity" asp-page="#">
                                <div class="header-icons">
                                    <i class="bi bi-bar-chart"></i>
                                </div>
                                <span>Сравнить</span>
                            </a>
                        </div>
                        <div class="wishlist-btn">
                            <a asp-area="Identity" asp-page="Account/Login">
                                <div class="header-icons">
                                    <i class="bi bi-heart"></i>
                                </div>
                                <span>Избранное</span>
                            </a>
                        </div>
                        <div class="cart-btn">
                            <a asp-area="Identity" asp-page="#">
                                <div class="header-icons">
                                    <i class="bi bi-cart3"></i>
                                </div>
                                <span>Корзина</span>
                            </a>
                        </div>
                    </div>
                    <div class="text-end align-self-center">
                        <a class="btn login-btn" asp-area="Identity" asp-page="/Account/Login">
                            <span>
                                Войти
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>