@inject ProductsSiteContext _context
<div class="top-header">
    <div class="container">
        <div class="row">
            <ul class="header-links col-4">
                <li>
                    <a href="#"> <i class="bi bi-person-circle"></i>Просмотр пользователей и ролей</a>
                </li>
            </ul>
             
        </div>
    </div>
</div>