@inject ProductsSiteContext _context
@*TODO: Пересмотреть стили сейчас работает, но на костылях*@
<div class="top-header">
    <div class="container">
        <div class="row">
          <ul class="header-links col-4">
                      <li>
                          <a href="#"> <i class="bi bi-geo-alt"></i>Иркутск</a>
                      </li>
                  </ul>
                  <ul class="header-links col-5">
                      <li>
                          <a href="#">Магазины</a>
                      </li>
                      <li>
                          <a href="#">Покупателям</a>
                      </li>
                      <li>
                          <a href="#">Юридическим лицам</a>
                      </li>
                      <li>
                          <a href="#">Club</a>
                      </li>
                  </ul>
                  <ul class="header-links col-3">
                      <li>
                          <a href="#"><i class="bi bi-telephone"></i> 8-800-88-88-888</a>
                          <span id="header-work-time">(c 08:00 до 03:00)</span>
                      </li>
                  </ul>  
        </div>
    </div>
</div>
