@page
@using Microsoft.EntityFrameworkCore
@model ProductsSite.ProductCreateModel

@{
    ViewData["Title"] = "Create";
    
}

<h1>Create</h1>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <partial name="Products/Partial/ProductForm"/>
    </div>
</div>

<div>
    <a asp-page="/Products/ProductIndex">Back to List</a>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}