@page
@model ProductsSite.ProductEditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
@if (!Model.ModelState.IsValid)
{
    foreach (var state in (Model.ModelState.Values))
    {
        foreach (var error in state.Errors)
        {
            <div>@error.ErrorMessage</div>
        }
    }
}
<div class="row">
    <div class="col-md-4">
        <partial name="Products/Partial/ProductForm"/>
    </div>
</div>

<div>
    <a asp-page="/Products/ProductIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
