@page
@model ProductsSite.ProductDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Тип
        </dt>
                <dd class="col-sm-10">
                    @Model.Product.ProductType
                </dd>
        <dd class="col-sm-10">
            Имя
        </dd>                                                                                                                                                                                                           
        <dd class="col-sm-10">
            Цена
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Products/ProductEdit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="/Products/ProductIndex">Back to List</a>
</div>
