@page
@using Microsoft.EntityFrameworkCore
@model ProductsSite.ProductCreateModel

@{
    ViewData["Title"] = "Create";
    
}

<h1>Create</h1>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <partial name="Products/Partial/ProductForm"/>
    </div>
</div>

<div>
    <a asp-page="/Products/ProductIndex">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}