.main-page{
    margin-top: 15px;
    margin-left: 0;
}
.category-menu{
    box-shadow: 0 1px 8px lightgray;
}
.title-block{
    background-color: #1E1F29;
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    margin-bottom: 0;
}
.title-block i{
    display: inline-block;
}
.categories-list{
    padding-left: 0;
}
.categories-list li{
    list-style: none;
}
.category-link{
    position: relative;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    text-decoration: none;
}
.category-link:hover{
    background-color: #0a58ca;
}