@page
@using Microsoft.EntityFrameworkCore
@model IndexModel
@inject ProductsSiteContext _context
<link rel="stylesheet" href="css/indexPage.css" asp-append-version="true">
@{
    ViewData["Title"] = "EnixShop";
}

@{
    var search = (string?)ViewData["search"];
    var productType = (string?)ViewData["productType"];
    var productTypes = _context.Product.AsNoTracking()
        .Select(x => x.CategoryId)
        .OrderBy(x => x)
        .Distinct()
        .Select(x => new SelectListItem(x, x, x == productType))
        .ToList();
}
<div class="row">
    <div class="col-md-3">
        <div class="prod-select">
            <ul>
                @foreach (var element in productTypes)
                {
                    <li>
                        <i class="bi bi-box"></i>
                        <a asp-page="/Products/ProductIndex" asp-route-productType="@element.Value">@element.Text</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="news">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="pics/default/no_Picture.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="hot">
            Скидки
        </div>
    </div>
</div>